<div class="title">
  <h1>List cities</h1>
</div>
<div class="div-general">
  <form (ngSubmit)="consultarDatos()">
    <div class="container-sm">
      <div class="form-floating mb-3"><h4 class="choose">Choose an option:</h4>
        <select class="form-select" name="seleccion" [(ngModel)]="seleccion">
          <option [value]="categoria.value" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
        </select>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" #search id="countryname" placeholder="Type a name">
        <label for="floatingInput">Type a name</label>
        <button class="btn btn-success" id="btn-register" (click)="getValue(search.value)" type="submit">Search</button>
      </div>
    </div>
  </form>
  <div class="div-table">
    <div class="div-paginator">
      <mat-paginator [length]="lista.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"></mat-paginator>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Flag</th>
          <th scope="col">City name</th>
          <th scope="col">City cabecera</th>
          <th scope="col">City code</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
          <th scope="col">City state</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let datos of lista | paginate:page_size:page_number">
          <td><img src="{{datos.flagcity}}" alt="Flag"></td>
          <td>{{datos.namecity}}</td>
          <td>{{datos.cabeceracity}}</td>
          <td>{{datos.callcodecity}}</td>
          <td>{{datos.coordinatealt}}</td>
          <td>{{datos.coordinatelat}}</td>
          <td>{{datos.statecity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


