.spacer
  flex: 1 1 auto


.toolbar
  position: fixed
  background-color: #168AAD
  box-shadow: 0 0 50px #ccc


.toolbar
  span
    color: #FFFFFF
    margin-left: 10px

.toolbar a
      &:nth-last-child(2), &:nth-last-child(3)
        color: #FFFFFF
      &:nth-last-child(1)
        font-size: bold
        letter-spacing: 2px






.toolbar
  img
    width: 40px
    height: 40px


.div
  height: 2000px
  width: 100%
  background-color: red
