<div class="title">
  <h1>Delete provinces</h1>
</div>
<div class="div-general">
  <form (ngSubmit)="consultarDatos()">
    <div class="container-sm">
      <div class="form-floating mb-3"><h4 class="choose">Choose an option:</h4>
        <select class="form-select" name="seleccion" [(ngModel)]="seleccion">
          <option [value]="categoria.value" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
        </select>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" #search id="countryname" placeholder="Type a name country">
        <label for="floatingInput">Type a name</label>
        <button class="btn btn-success" id="btn-register" (click)="getValue(search.value)" type="submit">Search</button>
      </div>
    </div>
  </form>
  <div class="div-table">
    <div class="div-paginator">
      <mat-paginator [length]="lista.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"></mat-paginator>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Flag</th>
          <th scope="col">Province name</th>
          <th scope="col">Province capital</th>
          <th scope="col">Code</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of lista | paginate:page_size:page_number">
          <td><img src="{{datos.flagprovince}}" alt="Flag"></td>
          <td>{{datos.nameprovince}}</td>
          <td>{{datos.capitalprovince}}</td>
          <td>{{datos.callcodeprovince}}</td>
          <td>{{datos.coordinatealt}}</td>
          <td>{{datos.coordinatelat}}</td>
          <td>{{datos.stateprovince}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cont-button">
    <button class="btn btn-danger" id="btn-delete" *ngFor="let datos of lista" (click)="deleteProvince(datos.id)" type="submit">Delete</button>
  </div>
</div>



