$border: 1px solid #FFFFFF
$widthmat-form-inp: 50%

@mixin contents()
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box

@mixin labels()
    color: #FFFFFF
    width: 100%
    font-weight: 400
    text-align: left
    float: left
    font-size: 14px
    color: #c9d1d9

@mixin links()
    float: right
    text-decoration: none
    font-size: 12px
    color: #58a6ff
    background-color: transparent
    &:hover, &:active
      outline-width: 0


@mixin animate($animation,$duration,$method,$times)
    animation: $animation $duration $method $times


@mixin keyframes($name)
    @keyframes #{$name}
        @content


.body
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"


.body
  .gradient
    position: fixed
    width: 100%
    height: 100vh
    background-image: linear-gradient(135deg, #0D0C1F, #161534, #1F1D49, #2D2B6A,  #3E3B8E)


.gradient
  .bubbles
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden


.bubbles
  li
    position: absolute
    list-style: none
    display: block
    &:nth-child(1)
      right: -75px
      width: 494px
      height: 494px
      transform: rotate(45deg)
      -webkit-transform: rotate(45deg)
      background-image: linear-gradient(135deg, #2D2B6A,  #3E3B8E 250%)
    &:nth-child(2)
      left: 180px
      bottom: 20px
      width: 350px
      height: 350px
      transform: rotate(45deg)
      -webkit-transform: rotate(45deg)
      background-image: linear-gradient(135deg, #2D2B6A,  #3E3B8E 250%)



.div-general
  height: 100vh
  position: relative


.div-general
  .div-logo
    @include contents()
    height: 75px
    width: auto


  .div-logo
    span
      cursor: pointer
      width: 200px
      height: 75px
      background-color: transparent
      color: #FFFFFF
      font-weight: 600
      @include contents()

  .div-logo
    span
      img
        width: 70px
        height: 70px
        margin-right: 10px

  .div-logo
    .account
      width: calc( 100% - 200px )
      height: 75px
      @include contents()
      justify-content: flex-end

  .account
    .ctn-ul
      @include contents()

  .ctn-ul
    ul
      width: auto
      height: auto
      color: #FFFFFF
      list-style: none
      @include contents()
      margin-top: auto
      margin-bottom: auto

  ul
    li
      &:nth-last-child(2)
        margin-right: 25px
      &:nth-last-child(1)
        margin-right: 50px

  ul
    li
      a
        text-decoration: none
        color: #FFFFFF
        width: auto
        padding: 5px 30px
        font-size: .9em
        border-radius: 5px
        border: $border
        transition: all 300ms
        &:hover
          color: #000000
          background-color: #FFFFFF

  .info-form
    @include contents()
    margin-top: 105px
    margin-left: 6.5%
    width: 87%
    padding-bottom: 25px



  .div-name
    @include contents()
    height: auto
    width: 500px

  .div-cont-form
    @include contents()
    justify-content: flex-start
    padding-left: 50px
    text-align: center
    width: calc( 1150px - 400px )
    height: 295px
    background-color: #FFFFFF
    border: $border
    margin-left: 100px
    box-sizing: border-box

.div-name h1
  color: #FFFFFF
  font-size: 50px

.div-name
  h1
    p
      padding-top: 25px
      font-size: 18px
      font-weight: 300

.sig-in
  background-color: #1F1D49
  border-color: none
  color: #FFFFFF
  width: 180px
  height: 50px
  font-weight: 300
  border-radius: 5px
  transition: all 300ms
  margin-top: 10px
  &:hover
    background-color: #0D0C1F


.card
  width: calc( 100% - 50px )
  background-color: transparent
  border: none
  padding-bottom: 25px

.card
  .div-inputs
    width: 100%
    box-sizing: border-box
    height: 250px

.cont-user
  width: 100%
  height: 250px

.cont-user
  .form
    height: 250px


.cont-user
  .mat-form-field
    width: 100%
    height: auto

.mat-user
  margin-top: 15px


.mb-3
    border-bottom: 2px solid #ced4da
    height: 60px

.mb-3
  .inp-email, .inp-password
    padding: 0
    padding-left: 10px
    border: none

.mb-3
  .inp-email
    &:focus
      padding-left: 12px
      padding-top: 0
      padding-bottom: 0
      box-shadow: 0 10px 21px -6px rgb(13 110 253 / 25%)

  .inp-password
    &:focus
      padding-left: 12px
      padding-top: 0
      padding-bottom: 0
      box-shadow: 0 10px 21px -6px rgb(13 110 253 / 25%)


.mb-3
  .inp-email
    &:focus ~ label
      transform: scale(.80) translateY(-1rem) translateX(1rem)

.mb-3
  .inp-password
    &:focus ~ label
      transform: scale(.80) translateY(-1rem) translateX(1rem)

.cont-pass
  .lbl-forgot
    .example-full-width
      .mb-3
          .lbl-password
            color: #000000

.example-full-width
  .hidden
    top: 10px

.mat-error
  color: red
  margin-top: -6px
  font-size: 14px

.lbl-forgot
  @include labels()
  margin-top: 20px



.lbl-forgot
  a
    @include links()
    color: #1E6091
    font-weight: bold

@media screen and (max-width: 800px)
  .info-form
    flex-wrap: wrap

  .info-form
    .div-name
      width: 100%
    .div-cont-form
      width: 100%
      margin-left: 0

@media screen and (max-width: 588px)
  .ctn-ul
    ul
      li
        &:nth-last-child(2)
          display: none


