<div class="div-title-fe">
  <div class="div-features"></div>
  <div>FEATURES</div>
</div>
<div class="div-subtitle-fe">
  <div class="div-features"></div>
  <div>
    <h3>Easy to use <br>Easy to understand</h3>
    <p>Our API helps you access the data you <br>need in a simple and intuitive way.</p>
  </div>
</div>
<div class="div-img-info-fe">
  <div class="div-img"></div>
  <div class="div-info-img">
    <div class="div-main">
    <ng-container *ngFor="let section of items;">
      <div class="div-img-true" [ngStyle]="{'margin-top': section.marginTop+'%'}">
        <img src="{{section.link}}"/>
      </div>
    </ng-container>
    </div>

    <div class="div-info-img-true">
      <div class="tt-consume">
        <div class="div-one" *ngFor="let section of items;">
          <h4 [ngStyle]="{'margin-top':section.marginTopTS+'px'}">{{section.title}}</h4><p>{{section.subtitle}}</p>
        </div>
      </div>
      <div class="div-arrows">
        <div class="next" (click)="setNext()"></div>
        <div class="prev" (click)="setPrev()"></div>
      </div>
    </div>
  </div>
</div>
