<div class="gradient">
  <ul class="bubbles">
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="cont-img-main">
  <div class="nav-menu"></div>
  <div class="cont-title"><h1 class="transparent shadowh">Meet the <br> creators</h1></div>
  <div class="first-manager">
    <div class="manager-one">
      <div class="cont-photo"><img src="../../../assets/images/male-user.svg" alt="Manager One" class="photo"></div>
      <div class="cont-name"><h3 class="name">Geovanny José Brito Casanova</h3></div>
      <div class="cont-level-ac"><h3 class="level-ac">Moderator</h3></div>
      <div class="cont-bottom"><h3 class="bottom">Project Manager</h3></div>
    </div>
    <div class="manager-two">
      <div class="cont-photo"><img src="../../../assets/images/male-user.svg" alt="Manager Two" class="photo"></div>
      <div class="cont-name"><h3 class="name">Eng. Gleiston Ciceron Guerrero Ulloa</h3></div>
      <div class="cont-level-ac"><h3 class="level-ac">Teacher</h3></div>
      <div class="cont-bottom"><h3 class="bottom">Project Manager</h3></div>
    </div>
    <div class="manager-three">
      <div class="cont-photo"><img src="../../../assets/images/male-user.svg" alt="Manager Three" class="photo"></div>
      <div class="cont-name"><h3 class="name">Anthony Abrahan Pachay Espinoza</h3></div>
      <div class="cont-level-ac"><h3 class="level-ac">Teaching Assistant</h3></div>
      <div class="cont-bottom"><h3 class="bottom">Project Manager</h3></div>
    </div>
  </div>
  <div class="first-collaborators">
    <div class="coll-one"></div>
    <div class="coll-two"></div>
  </div>
</div>
