<body>
  <div class="gradient"></div>
  <div class="div-general">
    <div class="div-logo"><span class="spanL">
        <img src="../../../assets/images/Logo.svg"/>
      </span></div>
    <br>
    <div class="div-name">
      <h1>Create your account</h1>
    </div>
    <br>
    <form class="div-cont-form">
      <div class="cardF">
        <div class="div-main-card">
          <div class="div-bottom">
            <div class="input-group">
              <span class="input-group-text">First and last name</span>
              <input type="text" aria-label="First name" class="form-control">
              <input type="text" aria-label="Last name" class="form-control">
            </div>
          </div>
        </div>
        <br>
        <div class="div-main-email">
          <div class="div-top-ep">
          </div>
          <div class="div-bottom-ep">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input type="email" aria-label="Email" class="form-control">
            </div>
          </div>
        </div>
        <br>
        <div class="div-main-user">
          <div class="div-top-ep">
          </div>
          <div class="div-bottom-ep">
            <div class="input-group">
              <span class="input-group-text">User</span>
              <input type="text" aria-label="User" class="form-control">
            </div>
          </div>
        </div>
        <br>
        <div class="div-main-pass">
          <div class="div-top-ep">
          </div>
          <div class="div-bottom-ep">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input type="password" aria-label="Password" class="form-control">
            </div>
          </div>
        </div>
        <br>
        <div class="div-main-phone">
          <div class="div-top-ep">
          </div>
          <div class="div-bottom-ep">
            <div class="input-group">
              <span class="input-group-text">Phone</span>
              <input type="text" aria-label="Phone" class="form-control">
            </div>
          </div>
        </div>
        <div class="div-main-buttons">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3></h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="submit" value="Create account" class="inp-submit"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
