<div class="body">
  <div class="gradient">
    <ul class="bubbles">
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="div-general">
    <div class="div-logo">
      <span>
        <img src="../../../assets/images/Logo.svg"/>
         API PAISES
      </span>
      <div class="account">
        <div class="ctn-ul">
          <ul>
            <li>Already have an account?</li>
            <li><a [routerLink]="['/ApiPaises/sign/in']">SIGN IN</a></li>
          </ul>
      </div>
      </div>
    </div>
    <div class="info-form">
      <div class="div-name">
        <h1>Sig in <br>to <strong>API Paises</strong>
        <p>Enter your details to sign in.</p></h1>
      </div>
      <br>
      <div class="div-cont-form">
        <div class="card">
            <div class="div-inputs">
              <div class="cont-user">
                <form class="form-floating form">
                  <mat-form-field class="example-full-width mat-user" appearance="fill">
                    <div class="form-floating mb-3">
                      <input type="email" matInput placeholder=" " [formControl]="email" required class="form-control inp-email" id="floatingInput">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <mat-error class="mat-error" *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <div class="cont-pass">
                    <div class="lbl-forgot">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <div class="form-floating mb-3">
                            <input type="password" matInput [type]="hide ? 'password' : 'text'" placeholder=" " class="form-control inp-password" id="floatingInput">
                            <label for="floatingInput" class="lbl-password">Password</label>
                          </div>
                          <a class="hidden" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </a>
                        </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button class="sig-in" [routerLink]="['/','NavVertical']">Sig in</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

