<body>
  <div class="gradient"></div>
  <div class="div-general">
    <div class="div-logo"><span>
        <mat-icon matSuffix>shield</mat-icon>
      </span></div>
    <br>
    <div class="div-name">
      <h1>Create your account</h1>
    </div>
    <br>
    <form class="div-cont-form">
      <div class="card">
        <div class="div-main-card">
          <div class="div-top">
            <div class="div-top-left"><h3>First name</h3></div>
            <div class="div-top-right"><h3>Last name</h3></div>
          </div>

          <div class="div-bottom">
            <div class="div-bottom-left"><input type="text" class="inp-data"></div>
            <div class="div-bottom-right"><input type="text" class="inp-data"></div>
          </div>
        </div>
        <br>
        <div class="div-main-email">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3>Email</h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="email" class="inp-ep"></div>
          </div>
        </div>
        <br>
        <div class="div-main-user">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3>Username</h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="text"class="inp-ep"></div>
          </div>
        </div>
        <br>
        <div class="div-main-pass">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3>Password</h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="password" class="inp-ep"></div>
          </div>
        </div>
        <br>
        <div class="div-main-phone">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3>Phone</h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="text" class="inp-ep"></div>
          </div>
        </div>
        <div class="div-main-buttons">
          <div class="div-top-ep">
            <div class="div-top-all-ep"><h3></h3></div>
          </div>
          <div class="div-bottom-ep">
            <div class="div-bottom-all-ep"><input type="submit" value="Create account" class="inp-submit"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
